---
const today = new Date().toISOString().split('T')['0']

const { title, subtitle } = Astro.props;
---

<section>

<h1 class="r-fit-text">{title}</h1>
<hr />
{subtitle && <h1>{subtitle}</h1>}

</section>
