---
import index_perf from '../assets/index_perf.json'
import CsiIndexPerf from '../components/CsiIndexPerf.astro'
import Slide from '../components/Slide.astro'

const data = index_perf.data.mainIndexPerfList
const cdata = data.map(item => ({
  indexName: item.indexName,
  收盘指数: item.closeIndex+'',
  当日变动: item.changePct,
  年初至今: item.changePctThisYear,
  成交金额: item.valueChangePct
  
}))

---

{cdata.map(item =>( 
<Slide>
<div class='flex justify-center'>
<CsiIndexPerf items = {item} />
</div>
</Slide>)
)}

