---
const { imgurl='', title='' } = Astro.props;
---

<section data-background-image={imgurl}>

<div class='r-stretch'>  </div>
{ title && <h1 class='r-fit-text fragment fade-out'>{title}</h1>}

</section>
