---
// components/SimpleTable.astro
import {pagearr} from '../utils/pagearr.js'

const {
  title,
  data,           // 对象数组
  rowsPerPage = 6 // 每页行数
} = Astro.props;

// 获取所有列名
const columns = Object.keys(data[0]);

// 分页
const pages = pagearr(data, rowsPerPage);
---

{pages.map((pageRows, pageIndex) => (
  <section>
    {title && <h2>{title}</h2>}
    
    <table class='!text-2xl' >
      <thead>
        <tr>
          <th>#</th>
          {columns.map(col => (
            <th>{col}</th>
          ))}
        </tr>
      </thead>
      
      <tbody>
        {pageRows.map((row, rowIndex) => (
          <tr>
            <td>{pageIndex * rowsPerPage + rowIndex + 1}</td>
            {columns.map(col => (
              <td>{row[col]}</td>
            ))}
          </tr>
        ))}
      </tbody>
    </table>
    
  </section>
))}
